<div
  class="dark:bg-shark-500 flex h-full min-h-screen items-center justify-center p-4 text-gray-700 dark:text-stone-300"
>
  <div
    class="dark:bg-bunker-500 flex w-100 max-w-5xl flex-col gap-y-5 rounded-2xl bg-slate-50 p-6 dark:text-stone-300"
  >
    @if (getTheme() === "light") {
      <img
        src="logo_2.png"
        alt="Logo"
        class="h-25 w-25 self-center object-contain"
      />
    } @else {
      <img
        src="logo_2_dark.png"
        alt="Logo"
        class="h-25 w-25 self-center object-contain"
      />
    }
    <h1 class="self-start text-2xl font-bold">Sign Up</h1>
    <form action="" class="flex w-full max-w-7xl flex-col gap-y-5">
      <div class="flex w-full flex-col">
        <label for="" class="pb-2 font-semibold">Full Name</label>
        <input
          type="text"
          class="input-primary"
          placeholder="Enter you full name"
        />
      </div>
      <div class="flex w-full flex-col">
        <label for="" class="pb-2 font-semibold">Email</label>
        <input
          type="text"
          class="input-primary"
          placeholder="Enter you email"
        />
      </div>
      <div class="flex w-full flex-col">
        <label for="" class="pb-2 font-semibold">Password</label>
        <input
          type="text"
          class="input-primary"
          placeholder="Enter your password"
        />
      </div>
      <div class="flex w-full flex-col">
        <label for="" class="pb-2 font-semibold">Confirm Password</label>
        <input
          type="text"
          class="input-primary"
          placeholder="Confirm your password"
        />
      </div>
      <button class="btn-primary" type="submit">Create Account</button>
    </form>
    <p class="self-center">Or sign up with</p>
    <div class="grid w-full grid-cols-2 gap-3">
      <button
        class="btn-secondary"
        type="button"
      >
        Google
      </button>
      <button
        class="btn-secondary"
        type="button"
      >
        Apple
      </button>
    </div>
    <p class="self-center">
      Already have an account?
      <a
        href=""
        class="text-md self-end font-semibold text-green-600 hover:text-green-500"
        >Login</a
      >
    </p>
  </div>
</div>
