<div class="flex w-full flex-col items-center">
  <div class="w-full max-w-7xl">
    <h2 class="self-start text-xl font-bold text-black dark:text-white">
      Add Food Entry
    </h2>
  </div>
  <div class="w-full max-w-7xl pt-6">
    <div class="flex w-full max-w-7xl justify-between pt-6">
      <h2 class="self-start text-lg font-bold text-black dark:text-white">
        Selected Food
      </h2>
      <button
        class="btn-primary"
      >
        Confirm Entry
      </button>
    </div>
    <div class="max-h-55 w-full max-w-7xl overflow-y-auto py-4 md:p-4">
      <div
        class="grid grid-cols-1 gap-2 border-gray-200 lg:grid-cols-2 xl:grid-cols-3"
      >
        @for (selected of selectedFood; track selected.id) {
          <div
            class="dark:bg-shark-500 dark:border-shark-500 grid grid-cols-12 rounded-xl border-1 border-gray-300 bg-white px-4 shadow-md"
          >
            <div class="col-span-2 flex w-full items-center justify-center p-4">
              <span
                class="rounded-lg bg-green-100 p-4 text-green-500 dark:bg-green-200"
              >
                <i
                  class="iconify text-2xl"
                  [attr.data-icon]="selected.icon"
                ></i>
              </span>
            </div>
            <div
              class="over col-span-4 flex w-full items-center p-4 text-start font-semibold"
            >
              {{ selected.name }}
            </div>
            <div class="col-span-4 flex w-full items-center justify-start p-4">
              <input type="text" placeholder="100g" class="input-primary" />
            </div>
            <div class="col-span-1 flex w-full items-center justify-start p-4">
              <span
                class="rounded-full p-2 hover:cursor-pointer hover:bg-green-100 dark:hover:bg-green-600 dark:hover:text-white"
              >
                <i
                  class="iconify text-2xl"
                  data-icon="material-symbols:delete-outline"
                ></i>
              </span>
            </div>
          </div>
        } @empty {
          <h3 class="text-lg text-gray-600 dark:text-stone-100">
            Select some food entries to add them to your diet.
          </h3>
        }
      </div>
    </div>
  </div>
  <div
    class="flex w-full max-w-7xl flex-wrap justify-center gap-3 pt-6 sm:flex-nowrap sm:justify-between"
  >
    <app-search-bar
      class="h-10 w-75 sm:w-90"
      [placeholderMessage]="'Type food name...'"
    ></app-search-bar>
  </div>
  <div class="mt-6 w-full max-w-7xl">
    <div
      class="dark:bg-shark-500 relative flex justify-start overflow-hidden rounded-lg bg-gray-200"
    >
      <div
        class="absolute bottom-0 left-0 h-1 bg-green-500 transition-all duration-300"
        [ngStyle]="{
          width: 100 / 3 + '%',
          transform: 'translateX(' + selectedIndex * 100 + '%)',
        }"
      ></div>

      @for (tab of ["Favorites", "Popular Food", "My Food"]; track $index) {
        <button
          class="flex-1 cursor-pointer px-4 py-2 text-center font-semibold hover:bg-green-100 focus:outline-none dark:hover:bg-green-600 dark:hover:text-white"
          (click)="selectTab($index)"
        >
          {{ tab }}
        </button>
      }
    </div>
    <div class="relative mt-3 max-h-75 overflow-hidden">
      <div
        class="flex transition-transform duration-500"
        [ngStyle]="{
          transform: 'translateX(-' + selectedIndex * 100 + '%)',
        }"
      >
        <div
          class="flex max-h-75 w-full max-w-7xl flex-shrink-0 flex-col overflow-y-auto p-4"
        >
          @for (favorite of favorites; track favorite.id) {
            <div
              class="grid grid-cols-12 border-b border-gray-200 dark:border-gray-600"
            >
              <app-food-card
                [food]="favorite"
                class="col-span-10 grid w-full grid-cols-subgrid"
              />
              <div
                class="col-span-2 flex w-full items-center justify-center p-4"
              >
                <span
                  class="rounded-full p-2 hover:cursor-pointer hover:bg-green-100 dark:hover:bg-green-600 dark:hover:text-white"
                >
                  <i class="iconify text-2xl" data-icon="mdi:heart-outline"></i>
                </span>
                <span
                  class="rounded-full p-2 hover:cursor-pointer hover:bg-green-100 dark:hover:bg-green-600 dark:hover:text-white"
                >
                  <i
                    class="iconify text-2xl"
                    data-icon="material-symbols:add-rounded"
                  ></i>
                </span>
              </div>
            </div>
          }
        </div>
        <div
          class="flex max-h-75 w-full max-w-7xl flex-shrink-0 flex-col overflow-y-auto p-4"
        >
          @for (popular of popularFood; track popular.id) {
            <div
              class="grid grid-cols-12 border-b border-gray-200 dark:border-gray-600"
            >
              <app-food-card
                [food]="popular"
                class="col-span-10 grid w-full grid-cols-subgrid"
              />
              <div
                class="col-span-2 flex w-full items-center justify-center p-4"
              >
                <span
                  class="rounded-full p-2 hover:cursor-pointer hover:bg-green-100 dark:hover:bg-green-600 dark:hover:text-white"
                >
                  <i class="iconify text-2xl" data-icon="mdi:heart-outline"></i>
                </span>
                <span
                  class="rounded-full p-2 hover:cursor-pointer hover:bg-green-100 dark:hover:bg-green-600 dark:hover:text-white"
                >
                  <i
                    class="iconify text-2xl"
                    data-icon="material-symbols:add-rounded"
                  ></i>
                </span>
              </div>
            </div>
          }
        </div>
        <div
          class="flex max-h-75 w-full max-w-7xl flex-shrink-0 flex-col overflow-y-auto p-4"
        >
          @for (food of myFood; track food.id) {
            <div
              class="grid grid-cols-12 border-b border-gray-200 dark:border-gray-600"
            >
              <app-food-card
                [food]="food"
                class="col-span-10 grid w-full grid-cols-subgrid"
              />
              <div
                class="col-span-2 flex w-full items-center justify-center p-4"
              >
                <span
                  class="rounded-full p-2 hover:cursor-pointer hover:bg-green-100 dark:hover:bg-green-600 dark:hover:text-white"
                >
                  <i class="iconify text-2xl" data-icon="mdi:heart-outline"></i>
                </span>
                <span
                  class="rounded-full p-2 hover:cursor-pointer hover:bg-green-100 dark:hover:bg-green-600 dark:hover:text-white"
                >
                  <i
                    class="iconify text-2xl"
                    data-icon="material-symbols:add-rounded"
                  ></i>
                </span>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
