<div class="w-full flex flex-col items-center">
  <div class="pt-6 w-full max-w-7xl">
    <h2 class="text-xl font-bold text-black dark:text-white">
      Total Daily Energy Expenditure (TDEE)
    </h2>
  </div>
  <div
    class="w-full max-w-6xl mt-5 p-4 rounded-xl grid grid-cols-1 md:grid-cols-2 gap-4"
  >
    <div
      class="bg-green-50 dark:bg-green-600 rounded-xl p-6 shadow-md w-full flex flex-col items-center"
    >
      <span class="bg-green-100 dark:bg-green-200 p-4 rounded-lg">
        <i
          class="iconify text-3xl text-green-500"
          data-icon="simple-line-icons:energy"
        ></i>
      </span>
      <h3 class="text-lg font-bold text-black dark:text-white mt-2">Basal Metabolic Rate</h3>
      <h5 class="text-md font-semibold text-gray-500 dark:text-stone-100 max-w-md text-center">
        Your body needs <b>1680 kcal</b> per day for basic functions (breathing,
        heartbeat, etc.)
      </h5>
    </div>
    <div
      class="bg-green-50 dark:bg-green-600 rounded-xl p-6 shadow-md w-full flex flex-col items-center"
    >
      <span class="bg-green-100 dark:bg-green-200 p-4 rounded-lg">
        <i
          class="iconify text-3xl text-green-500"
          data-icon="ion:body-outline"
        ></i>
      </span>
      <h3 class="text-lg font-bold text-black dark:text-white mt-2">TDEE</h3>
      <h5 class="text-md font-semibold text-gray-500 dark:text-stone-100 max-w-md text-center">
        <b>2016 kcal</b> per day is the amount of calories you need to maintain
        your weight.
      </h5>
    </div>
    <div
      class="bg-green-50 dark:bg-green-600 rounded-xl p-6 shadow-md w-full flex flex-col items-center"
    >
      <span class="bg-green-100 dark:bg-green-200 p-4 rounded-lg">
        <i
          class="iconify text-3xl text-green-500"
          data-icon="material-symbols:target"
        ></i>
      </span>
      <h3 class="text-lg font-bold text-black dark:text-white mt-2">Daily Calorie Target</h3>
      <h5 class="text-md font-semibold text-gray-500 dark:text-stone-100 max-w-md text-center">
        You want to increase your muscle mass, so you have to consume
        <b>1766 kcal</b> per day.
      </h5>
    </div>
    <div
      class="bg-green-50 dark:bg-green-600 rounded-xl p-6 shadow-md w-full flex flex-col items-center"
    >
      <span class="bg-green-100 dark:bg-green-200 p-4 rounded-lg">
        <i
          class="iconify text-3xl text-green-500"
          data-icon="mingcute:chicken-line"
        ></i>
      </span>
      <h3 class="text-lg font-bold text-black dark:text-white mt-2">Recommended Macros</h3>
      <h5 class="text-md font-semibold text-gray-500 dark:text-stone-100 max-w-md text-center">
        To reach your daily target, we recommend consuming
        <b>180g of protein, 177g of carbs</b> and <b>59g of fat</b> per day.
      </h5>
    </div>
  </div>
</div>
