<div class="flex w-full flex-col items-center">
  <div class="w-full max-w-7xl pt-6">
    <h2 class="text-xl font-bold text-black dark:text-white">
      Total Daily Energy Expenditure (TDEE)
    </h2>
  </div>
  <div
    class="mt-5 grid w-full max-w-6xl grid-cols-1 gap-4 rounded-xl sm:p-4 md:grid-cols-2"
  >
    <div
      class="flex w-full flex-col items-center rounded-xl bg-green-50 p-6 shadow-md dark:bg-green-600"
    >
      <span class="rounded-lg bg-green-100 p-3 dark:bg-green-200">
        <i
          class="iconify text-3xl text-green-500"
          data-icon="simple-line-icons:energy"
        ></i>
      </span>
      <h3 class="mt-2 text-lg font-bold text-black dark:text-white">
        Basal Metabolic Rate
      </h3>
      <h5
        class="text-md max-w-md text-center font-semibold text-gray-500 dark:text-stone-100"
      >
        Your body needs <b>1680 kcal</b> per day for basic functions (breathing,
        heartbeat, etc.)
      </h5>
    </div>
    <div
      class="flex w-full flex-col items-center rounded-xl bg-green-50 p-6 shadow-md dark:bg-green-600"
    >
      <span class="rounded-lg bg-green-100 p-4 dark:bg-green-200">
        <i
          class="iconify text-3xl text-green-500"
          data-icon="ion:body-outline"
        ></i>
      </span>
      <h3 class="mt-2 text-lg font-bold text-black dark:text-white">TDEE</h3>
      <h5
        class="text-md max-w-md text-center font-semibold text-gray-500 dark:text-stone-100"
      >
        <b>2016 kcal</b> per day is the amount of calories you need to maintain
        your weight.
      </h5>
    </div>
    <div
      class="flex w-full flex-col items-center rounded-xl bg-green-50 p-6 shadow-md dark:bg-green-600"
    >
      <span class="rounded-lg bg-green-100 p-4 dark:bg-green-200">
        <i
          class="iconify text-3xl text-green-500"
          data-icon="material-symbols:target"
        ></i>
      </span>
      <h3 class="mt-2 text-lg font-bold text-black dark:text-white">
        Daily Calorie Target
      </h3>
      <h5
        class="text-md max-w-md text-center font-semibold text-gray-500 dark:text-stone-100"
      >
        You want to increase your muscle mass, so you have to consume
        <b>1766 kcal</b> per day.
      </h5>
    </div>
    <div
      class="flex w-full flex-col items-center rounded-xl bg-green-50 p-6 shadow-md dark:bg-green-600"
    >
      <span class="rounded-lg bg-green-100 p-4 dark:bg-green-200">
        <i
          class="iconify text-3xl text-green-500"
          data-icon="mingcute:chicken-line"
        ></i>
      </span>
      <h3 class="mt-2 text-lg font-bold text-black dark:text-white">
        Recommended Macros
      </h3>
      <h5
        class="text-md max-w-md text-center font-semibold text-gray-500 dark:text-stone-100"
      >
        To reach your daily target, we recommend consuming
        <b>180g of protein, 177g of carbs</b> and <b>59g of fats</b> per day.
      </h5>
    </div>
  </div>
</div>
