<div class="pt-6 w-full max-w-7xl">
  <h2 class="text-xl font-bold text-black self-start">Add Food Entry</h2>
</div>
<div class="pt-6 w-full max-w-7xl flex justify-between">
  <app-search-bar
    class="w-90 sm:w-110 h-10"
    [placeholderMessage]="'Type food name...'"
  ></app-search-bar>
</div>
<div class="w-full max-w-7xl mt-10">
  <div
    class="relative flex bg-gray-200 rounded-lg overflow-hidden justify-start"
  >
    <div
      class="absolute bottom-0 left-0 h-1 bg-green-500 transition-all duration-300"
      [ngStyle]="{
        width: 100 / 3 + '%',
        transform: 'translateX(' + selectedIndex * 100 + '%)'
      }"
    ></div>

    @for (tab of ['Favorites', 'Popular Food','My Food']; track $index) {
    <button
      class="flex-1 px-4 py-2 text-center focus:outline-none cursor-pointer hover:bg-green-100 font-semibold"
      (click)="selectTab($index)"
    >
      {{ tab }}
    </button>
    }
  </div>
  <div class="relative overflow-hidden mt-3 max-h-150">
    <div
      class="flex transition-transform duration-500"
      [ngStyle]="{
        transform: 'translateX(-' + selectedIndex * 100 + '%)'
      }"
    >
      <div
        class="flex-shrink-0 p-4 w-full max-w-7xl flex flex-col max-h-150 overflow-y-auto"
      >
        @for (favorite of favorites; track favorite.id) {
        <div class="grid grid-cols-12 border-b border-gray-200">
          <app-food-card
            [food]="favorite"
            class="col-span-10 grid grid-cols-subgrid w-full"
          />
          <div class="col-span-2 p-4 w-full flex items-center justify-center">
            <span
              class="rounded-full p-2 hover:cursor-pointer hover:bg-green-100"
            >
              <i class="iconify text-xl" data-icon="mdi:heart-outline"></i>
            </span>
            <span
              class="rounded-full p-2 hover:cursor-pointer hover:bg-green-100"
            >
              <i
                class="iconify text-xl"
                data-icon="material-symbols:add-rounded"
              ></i>
            </span>
          </div>
        </div>
        }
      </div>
      <div
        class="flex-shrink-0 p-4 w-full max-w-7xl flex flex-col max-h-150 overflow-y-auto"
      >
        @for (popular of popularFood; track popular.id) {
        <div class="grid grid-cols-12 border-b border-gray-200">
          <app-food-card
            [food]="popular"
            class="col-span-10 grid grid-cols-subgrid w-full"
          />
          <div class="col-span-2 p-4 w-full flex items-center justify-center">
            <span
              class="rounded-full p-2 hover:cursor-pointer hover:bg-green-100"
            >
              <i class="iconify text-xl" data-icon="mdi:heart-outline"></i>
            </span>
            <span
              class="rounded-full p-2 hover:cursor-pointer hover:bg-green-100"
            >
              <i
                class="iconify text-xl"
                data-icon="material-symbols:add-rounded"
              ></i>
            </span>
          </div>
        </div>
        }
      </div>
      <div
        class="flex-shrink-0 p-4 w-full max-w-7xl flex flex-col max-h-150 overflow-y-auto"
      >
        @for (food of myFood; track food.id) {
        <div class="grid grid-cols-12 border-b border-gray-200">
          <app-food-card
            [food]="food"
            class="col-span-10 grid grid-cols-subgrid w-full"
          />
          <div class="col-span-2 p-4 w-full flex items-center justify-center">
            <span
              class="rounded-full p-2 hover:cursor-pointer hover:bg-green-100"
            >
              <i class="iconify text-xl" data-icon="mdi:heart-outline"></i>
            </span>
            <span
              class="rounded-full p-2 hover:cursor-pointer hover:bg-green-100"
            >
              <i
                class="iconify text-xl"
                data-icon="material-symbols:add-rounded"
              ></i>
            </span>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
