<div class="bg-slate-50 dark:bg-bunker-500 dark:text-stone-300 flex items-center justify-between p-3">
  <div class="flex items-center gap-4">
    <button
      class="p-2 hover:bg-green-100 dark:hover:bg-green-600 dark:hover:text-white rounded-lg cursor-pointer"
      (click)="toggleMenu()"
    >
      <i class="iconify text-xl" data-icon="solar:hamburger-menu-linear"></i>
    </button>
  </div>

  <div class="flex items-center gap-4">
    @if (getTheme()==='dark' ) {
    <button
      class="p-2 hover:bg-green-100 dark:hover:bg-green-600 dark:hover:text-white rounded-lg cursor-pointer"
      (click)="toggleTheme()"
    >
      <i class="iconify text-2xl" data-icon="line-md:moon-loop"></i>
    </button>
    } @else {
    <button
      class="p-2 hover:bg-green-100 dark:hover:bg-green-600 dark:hover:text-white rounded-lg cursor-pointer"
      (click)="toggleTheme()"
    >
      <i class="iconify text-2xl" data-icon="line-md:sunny-loop"></i>
    </button>
    }
    <app-notifications></app-notifications>
    <app-profile-menu></app-profile-menu>
  </div>
</div>
