<div class="bg-slate-50 flex items-center justify-between p-3">
  <div class="flex items-center gap-4">
    <button
      class="p-2 hover:bg-green-100 rounded-lg cursor-pointer"
      (click)="toggleMenu()"
    >
      <i class="iconify text-xl" data-icon="solar:hamburger-menu-linear"></i>
    </button>
  </div>

  <div class="flex items-center gap-4">
    <button
      class="p-2 hover:bg-green-100 rounded-lg cursor-pointer"
      (click)="toggleTheme()"
    >
      <i class="iconify text-xl" data-icon="solar:moon-line-duotone"></i>
    </button>
    <app-notifications></app-notifications>
    <app-profile-menu></app-profile-menu>
  </div>
</div>
