<h2 class="text-xl font-bold text-green-700 self-start">
  Welcome back, User! Ready to track today's macros?
</h2>
<div class="pt-6 w-full max-w-7xl">
  <h1 class="text-2xl font-bold text-black self-start">Today's progress</h1>
</div>
<div
  class="pt-6 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-3 w-full max-w-7xl"
>
  <div class="bg-green-50 rounded-xl p-6 shadow-md w-full flex flex-row">
    <div class="flex flex-col justify-center w-70">
      <h2 class="text-xl font-semibold text-center text-blue-500">Protein</h2>
      <h3 class="text-md text-center text-gray-400">2000/3000g</h3>
    </div>
    <div class="w-full flex flex-col items-center">
      <app-radial-progress-bar
        [value]="75"
        [color]="'text-blue-500'"
      ></app-radial-progress-bar>
    </div>
  </div>
  <div class="bg-green-50 rounded-xl p-6 shadow-md w-full flex flex-row">
    <div class="flex flex-col justify-center w-70">
      <h2 class="text-xl font-semibold text-center text-purple-500">Carbs</h2>
      <h3 class="text-md text-center text-gray-400">2000/3000g</h3>
    </div>
    <div class="w-full flex flex-col items-center">
      <app-radial-progress-bar
        [value]="50"
        [color]="'text-purple-500'"
      ></app-radial-progress-bar>
    </div>
  </div>
  <div class="bg-green-50 rounded-xl p-6 shadow-md w-full flex flex-row">
    <div class="flex flex-col justify-center w-70">
      <h2 class="text-xl font-semibold text-center text-pink-500">Fats</h2>
      <h3 class="text-md text-center text-gray-400">2000/3000g</h3>
    </div>
    <div class="w-full flex flex-col items-center">
      <app-radial-progress-bar
        [value]="64"
        [color]="'text-pink-500'"
      ></app-radial-progress-bar>
    </div>
  </div>
  <div class="bg-green-50 rounded-xl p-6 shadow-md w-full flex flex-row">
    <div class="flex flex-col justify-center w-70">
      <h2 class="text-xl font-semibold text-center text-yellow-500">
        Calories
      </h2>
      <h3 class="text-md text-center text-gray-400">2000/3000Cal</h3>
    </div>
    <div class="w-full flex flex-col items-center">
      <app-radial-progress-bar
        [value]="21"
        [color]="'text-yellow-500'"
      ></app-radial-progress-bar>
    </div>
  </div>
</div>
<div class="pt-6 w-full max-w-7xl">
  <h2 class="text-xl font-bold text-black self-start">Recent Entries</h2>
</div>
<div class="pt-6 w-full max-w-7xl flex justify-between">
  <app-search-bar
    class="w-75 sm:w-90"
    [placeholderMessage]="'Search entries...'"
  ></app-search-bar>
  <button
    class="bg-green-500 rounded-xl py-2 px-4 text-white cursor-pointer hover:bg-green-600"
  >
    Add Entry
  </button>
</div>
<div class="mt-6 w-full max-w-7xl flex flex-col h-78 overflow-y-auto">
  @for (recentEntry of recentEntries; track recentEntry.id) {
  <div class="grid grid-cols-12 border-b border-gray-200">
    <div class="col-span-3 p-4 w-full flex items-center">
      <i class="iconify text-xl" [attr.data-icon]="recentEntry.icon"></i>
      <span class="ml-2">{{ recentEntry.name }}</span>
    </div>
    <div class="col-span-2 p-4 w-full">Protein: {{ recentEntry.protein }}g</div>
    <div class="col-span-2 p-4 w-full">Carbs: {{ recentEntry.carbs }}g</div>
    <div class="col-span-2 p-4 w-full">Fats: {{ recentEntry.fats }}g</div>
    <div class="col-span-2 p-4 w-full">
      {{
        recentEntry.creation ? recentEntry.creation.toLocaleTimeString() : ""
      }}
    </div>
    <div class="col-span-1 p-4 w-full flex justify-evenly">
      <i class="iconify text-xl" data-icon="material-symbols:edit-outline"></i>
      <i
        class="iconify text-xl"
        data-icon="material-symbols:delete-outline"
      ></i>
    </div>
  </div>
  }
</div>
<div class="pt-6 w-full max-w-7xl text-center">
  <button
    class="border-1 border-gray-200 rounded-xl py-2 px-4 text-green-500 cursor-pointer hover:bg-green-100"
  >
    Load More
  </button>
</div>
