<div class="flex w-full flex-col items-center">
  <app-edit-field
    title="Profile Picture"
    routeBack="/profile"
    class="w-full max-w-5xl"
  ></app-edit-field>
  <div class="w-full max-w-5xl pt-4">
    <label
      class="text-md flex h-fit items-center gap-2 font-bold text-black dark:text-white"
    >
      <i class="iconify text-2xl" data-icon="hugeicons:profile"></i>
      Current Avatar
    </label>
    <div class="flex justify-center">
      <img
        [src]="`https://materialm-angular-main.netlify.app/assets/images/profile/user-${indexCurrentAvatar + 1}.jpg`"
        alt="Current Avatar"
        class="w-[10rem] rounded-full ring-4 ring-green-500 md:w-[14rem]"
      />
    </div>
    <div class="pt-4 text-center">
      <button class="btn-primary w-40">Save Avatar</button>
    </div>
  </div>
  <div class="w-full max-w-5xl pt-4">
    <label
      class="text-md flex h-fit items-center gap-2 font-bold text-black dark:text-white"
    >
      <i
        class="iconify text-2xl"
        data-icon="fluent:select-all-on-16-regular"
      ></i>
      Select Your Avatar
    </label>
  </div>
  <div class="w-full max-w-5xl pt-4">
    <div
      class="grid grid-cols-3 gap-4 gap-y-6 p-4 md:grid-cols-4 lg:grid-cols-5"
    >
      @for (item of array; track $index) {
        <img
          [src]="`https://materialm-angular-main.netlify.app/assets/images/profile/user-${$index + 1}.jpg`"
          [alt]="`Avatar option ${$index + 1}`"
          class="w-full cursor-pointer rounded-full shadow-lg hover:ring-4 hover:shadow-green-500 hover:ring-green-500 lg:max-w-[10rem]"
          [ngClass]="
            $index === indexCurrentAvatar
              ? 'ring-4 shadow-green-500 ring-green-500'
              : ''
          "
          (click)="changeCurrentAvatar($index)"
        />
      }
    </div>
  </div>
</div>
