<div class="flex w-full flex-col items-center">
  <app-edit-field title="Profile Picture" routeBack="/profile"></app-edit-field>
  <div class="w-full max-w-5xl pt-4">
    <h2 class="text-md font-bold text-black dark:text-white">Current Avatar</h2>
    <div class="flex justify-center">
      <img
        [src]="`https://materialm-angular-main.netlify.app/assets/images/profile/user-${indexCurrentAvatar + 1}.jpg`"
        alt="Current Avatar"
        class="w-[10rem] rounded-full ring-4 ring-green-500 md:w-[14rem]"
      />
    </div>
    <div class="pt-4 text-center">
      <button class="btn-primary w-40">Save Avatar</button>
    </div>
  </div>
  <div class="w-full max-w-5xl pt-4">
    <h2 class="text-md font-bold text-black dark:text-white">
      Select Your Avatar
    </h2>
  </div>
  <div class="w-full max-w-5xl pt-4">
    <div
      class="grid grid-cols-3 gap-4 gap-y-6 p-4 md:grid-cols-4 lg:grid-cols-5"
    >
      @for (item of array; track $index) {
        <img
          [src]="`https://materialm-angular-main.netlify.app/assets/images/profile/user-${$index + 1}.jpg`"
          [alt]="`Avatar option ${$index + 1}`"
          class="w-full lg:max-w-[10rem] rounded-full shadow-lg hover:ring-4 hover:shadow-green-500 hover:ring-green-500 cursor-pointer"
          [ngClass]="
            $index === indexCurrentAvatar
              ? 'ring-4 shadow-green-500 ring-green-500'
              : ''
          "
          (click)="changeCurrentAvatar($index)"
        />
      }
    </div>
  </div>
</div>
