<div class="flex h-screen items-center justify-center text-gray-700">
  <div
    class="flex w-100 max-w-5xl flex-col gap-y-5 rounded-2xl bg-slate-50 p-6"
  >
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrx-RYbYFdnT_PM5vQTBp7a65iVmRmPG1acA&s"
      alt="Logo"
      class="h-20 w-20 self-center object-contain"
    />
    <h1 class="self-start text-2xl font-bold text-black">Login</h1>
    <form action="" class="flex w-full max-w-7xl flex-col gap-y-5">
      <div class="flex w-full flex-col">
        <label for="" class="pb-2 font-semibold">Email</label>
        <input
          type="text"
          class="h-10 w-full rounded-xl bg-gray-200 px-5 focus:ring-2 focus:ring-green-500 focus:outline-none"
          placeholder="Enter you email"
        />
      </div>
      <div class="flex w-full flex-col">
        <label for="" class="pb-2 font-semibold">Password</label>
        <input
          type="text"
          class="h-10 w-full rounded-xl bg-gray-200 px-5 focus:ring-2 focus:ring-green-500 focus:outline-none"
          placeholder="Enter your password"
        />
      </div>
      <a
        href=""
        class="text-md self-end font-semibold text-green-600 hover:text-green-500"
      >
        Forgot your password?
      </a>
      <button
        class="cursor-pointer rounded-xl bg-green-500 px-4 py-2 font-semibold text-white hover:bg-green-600"
        type="submit"
      >
        Login
      </button>
    </form>
    <p class="self-center">Or continue with</p>
    <div class="grid w-full grid-cols-2 gap-3">
      <button
        class="cursor-pointer rounded-xl bg-green-100 px-4 py-2 font-semibold text-green-500 hover:bg-green-200"
        type="button"
      >
        Google
      </button>
      <button
        class="cursor-pointer rounded-xl bg-green-100 px-4 py-2 font-semibold text-green-500 hover:bg-green-200"
        type="button"
      >
        Apple
      </button>
    </div>
    <p class="self-center">
      Don't you have an account?
      <a
        href=""
        class="text-md self-end font-semibold text-green-600 hover:text-green-500"
        >Sign up</a
      >
    </p>
  </div>
</div>
