<div class="flex h-screen items-center justify-center text-gray-500">
  <div
    class="bg-slate-50 flex flex-col p-6 rounded-2xl gap-y-5 w-100 max-w-5xl"
  >
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrx-RYbYFdnT_PM5vQTBp7a65iVmRmPG1acA&s"
      alt="Logo"
      class="h-20 w-20 object-contain self-center"
    />
    <h1 class="text-2xl font-bold text-black self-start">Login</h1>
    <form action="" class="w-full max-w-7xl flex flex-col gap-y-5">
      <div class="w-full flex flex-col">
        <label for="" class="font-semibold pb-2">Email</label>
        <input
          type="text"
          class="rounded-xl bg-gray-200 px-5 w-full h-10 focus:outline-none focus:ring-2 focus:ring-green-500"
          placeholder="Enter you email"
        />
      </div>
      <div class="w-full flex flex-col">
        <label for="" class="font-semibold pb-2">Password</label>
        <input
          type="text"
          class="rounded-xl bg-gray-200 px-5 w-full h-10 focus:outline-none focus:ring-2 focus:ring-green-500"
          placeholder="Enter your password"
        />
      </div>
      <a href="" class="text-md font-semibold text-green-600 self-end hover:text-green-500">
        Forgot your password?
      </a>
      <button
        class="bg-green-500 rounded-xl py-2 px-4 text-white cursor-pointer hover:bg-green-600 font-semibold"
        type="submit"
      >
        Login
      </button>
    </form>
    <p class="self-center">Or continue with</p>
    <div class="w-full grid grid-cols-2 gap-3">
      <button
        class="bg-green-100 rounded-xl py-2 px-4 text-green-500 cursor-pointer hover:bg-green-200 font-semibold"
        type="button"
      >
        Google
      </button>
      <button
        class="bg-green-100 rounded-xl py-2 px-4 text-green-500 cursor-pointer hover:bg-green-200 font-semibold"
        type="button"
      >
        Apple
      </button>
    </div>
    <p class="self-center">
      Don't you have an account?
      <a href="" class="text-md font-semibold text-green-600 self-end hover:text-green-500"
        >Sign up</a
      >
    </p>
  </div>
</div>
