<div class="relative w-full">
  <svg class="h-auto w-34 max-w-70" viewBox="0 0 36 36">
    <circle
      class="stroke-current text-gray-200 dark:text-stone-400"
      stroke-width="3"
      cx="18"
      cy="18"
      r="15"
      fill="none"
    ></circle>
    <circle
      transform="rotate(-180 18 18)"
      [attr.stroke-dasharray]="calculateDashArray(15)"
      [attr.stroke-dashoffset]="calculateDashOffset(15, progress)"
      [class]="color + ' stroke-current'"
      stroke-width="3"
      cx="18"
      cy="18"
      r="15"
      fill="none"
    ></circle>
  </svg>
  <span
    class="absolute top-0 left-0 flex h-full w-full flex-col items-center justify-center text-center text-xl text-gray-500 dark:text-white"
    >{{ progress }}%</span
  >
</div>
