<div class="relative">
  <button class="p-2 hover:bg-green-100 rounded-lg cursor-pointer">
    <i class="iconify text-xl" data-icon="solar:bell-line-duotone"></i>
  </button>
  <span
    class="absolute -top-1 -right-1 bg-red-500 text-white text-xs font-bold px-1 rounded-full"
    [ngClass]="{ invisible: !(activeNotifications > 0) }"
    >{{ activeNotifications }}</span
  >
</div>
<div class="fixed inset-0 bg-black opacity-10 z-40 transition-opacity"></div>
<div
  class="absolute -bottom-2 right-18 z-40 w-4 h-4 transform rotate-45 bg-white"
></div>
<div
  class="absolute top-15 right-5 z-40 w-full max-w-sm bg-white p-3 rounded-lg shadow-lg mx-auto"
>
  <div class="flex justify-between items-center mb-4 mt-2 select-none">
    <h2 class="text-md font-semibold px-4">Notifications</h2>
    <span
      class="px-2 py-1 text-sm mx-2 text-white bg-green-600 rounded-full select-none"
      >{{ activeNotifications }} new</span
    >
  </div>
  <div class="space-y-2 px-3 max-h-90 overflow-auto">
    @for (notification of notifications; track notification.id) {
    <div
      class="flex items-center gap-3 py-2 hover:bg-green-200 rounded-md px-1"
      [ngClass]="notification.isRead ? 'bg-white' : 'bg-green-100'"
      (mouseleave)="markAsRead(notification.id)"
    >
      <div
        [class]="
          'w-10 h-10 flex items-center justify-center rounded-full bg-' +
          notification.type +
          '-100 text-' +
          notification.type +
          '-500'
        "
      >
        <i class="iconify text-xl" [attr.data-icon]="notification.icon"></i>
      </div>
      <div class="flex-1 text-wrap">
        <p class="font-md select-none">{{ notification.title }}</p>
        <p class="text-sm text-gray-500 select-none">
          {{ notification.comment }}
        </p>
      </div>
      <span class="text-xs text-gray-400 whitespace-nowrap px-1 select-none">{{
        notification.time | date : "shortTime"
      }}</span>
    </div>
    }
  </div>
</div>
