<div class="relative">
  <button class="p-2 hover:bg-green-100 rounded-lg cursor-pointer">
    <i class="iconify text-xl" data-icon="solar:bell-line-duotone"></i>
  </button>
  <span
    class="absolute -top-1 -right-1 bg-red-500 text-white text-xs font-bold px-1 rounded-full"
    >4</span
  >
</div>
<div class="fixed inset-0 bg-black opacity-10 z-40 transition-opacity"></div>
<div
  class="absolute -bottom-2 right-18 z-40 w-4 h-4 transform rotate-45 bg-white"
></div>
<div
  class="absolute top-15 right-5 z-40 w-full max-w-sm bg-white p-3 rounded-lg shadow-lg mx-auto"
>
  <div class="flex justify-between items-center mb-4 mt-2 select-none">
    <h2 class="text-md font-semibold px-4">Notifications</h2>
    <span
      class="px-2 py-1 text-sm mx-2 text-white bg-green-600 rounded-full select-none"
      >4 new</span
    >
  </div>
  <div class="space-y-2 px-3 max-h-90 overflow-auto">
    <div class="flex items-center gap-3 py-2 hover:bg-green-100 rounded-md">
      <div
        class="w-10 h-10 flex items-center justify-center bg-green-100 text-green-500 rounded-full"
      >
        <i class="iconify text-xl" data-icon="octicon:goal-16"></i>
      </div>
      <div class="flex-1 text-wrap">
        <p class="font-md select-none">Reached out your daily calorie goal</p>
        <p class="text-sm text-gray-500 select-none">Well done!</p>
      </div>
      <span class="text-xs text-gray-400 whitespace-nowrap px-1 select-none"
        >8:30 AM</span
      >
    </div>
    <div class="flex items-center gap-3 py-2 hover:bg-green-100 rounded-md">
      <div
        class="w-10 h-10 flex items-center justify-center bg-yellow-100 text-yellow-500 rounded-full"
      >
        <i class="iconify text-xl" data-icon="octicon:goal-16"></i>
      </div>
      <div class="flex-1 text-wrap">
        <p class="font-md select-none">
          Reached out 50% of your daily calories
        </p>
        <p class="text-sm text-gray-500 select-none">Keep it up!</p>
      </div>
      <span class="text-xs text-gray-400 whitespace-nowrap px-1 select-none"
        >8:30 AM</span
      >
    </div>
    <div class="flex items-center gap-3 py-2 hover:bg-green-100 rounded-md">
      <div
        class="w-10 h-10 flex items-center justify-center bg-red-100 text-red-500 rounded-full"
      >
        <i
          class="iconify text-xl"
          data-icon="material-symbols:warning-outline-rounded"
        ></i>
      </div>
      <div class="flex-1 text-wrap">
        <p class="font-md select-none">Reached out 137% of your daily fat</p>
        <p class="text-sm text-gray-500 select-none">Be careful!</p>
      </div>
      <span class="text-xs text-gray-400 whitespace-nowrap px-1 select-none"
        >7:30 AM</span
      >
    </div>
    <div class="flex items-center gap-3 py-2 hover:bg-green-100 rounded-md">
      <div
        class="w-10 h-10 flex items-center justify-center bg-blue-100 text-blue-500 rounded-full"
      >
        <i class="iconify text-xl" data-icon="mdi:water"></i>
      </div>
      <div class="flex-1 text-wrap">
        <p class="font-md select-none">Don't forget to drink water</p>
        <p class="text-sm text-gray-500 select-none">
          Keep hydrated and healthy
        </p>
      </div>
      <span class="text-xs text-gray-400 whitespace-nowrap px-1 select-none"
        >5:47 AM</span
      >
    </div>
    <div class="flex items-center gap-3 py-2 hover:bg-green-100 rounded-md">
      <div
        class="w-10 h-10 flex items-center justify-center bg-blue-100 text-blue-500 rounded-full"
      >
        <i class="iconify text-xl" data-icon="mdi:water"></i>
      </div>
      <div class="flex-1 text-wrap">
        <p class="font-md select-none">Don't forget to drink water</p>
        <p class="text-sm text-gray-500 select-none">
          Keep hydrated and healthy
        </p>
      </div>
      <span class="text-xs text-gray-400 whitespace-nowrap px-1 select-none"
        >5:47 AM</span
      >
    </div>
  </div>
</div>
