<div class="col-span-2 flex w-full items-center justify-center p-2 sm:p-4">
  <span class="rounded-lg bg-green-100 p-3 sm:p-4 dark:bg-green-200">
    <i class="iconify text-2xl text-green-500" [attr.data-icon]="food.icon"></i>
  </span>
</div>
<div
  class="col-span-8 flex w-full flex-col items-start justify-center p-2 sm:p-4"
>
  <span class="font-semibold dark:text-white">{{ food.name }}</span>
  <span class="text-gray-600 dark:text-stone-300"
    >Protein: {{ food.protein }}g | Carbs: {{ food.carbs }}g | Fats:
    {{ food.fats }}g | Calories: {{ food.calories }}kcal per
    {{ food.portion }}g</span
  >
</div>
