<div class="flex w-full flex-col items-center">
  <div class="w-full max-w-5xl pt-6">
    <h2 class="self-start text-xl font-bold text-black dark:text-white">
      Custom food entry
    </h2>
  </div>
  <form class="mt-6 grid w-full max-w-4xl grid-cols-12" [formGroup]="foodForm" (ngSubmit)="sendForm()">
    <div class="order-1 col-span-12 flex w-full p-2 md:col-span-3 md:p-4">
      <label for="" class="pb-2 font-semibold">Icon</label>
    </div>
    <div
      class="order-2 col-span-12 w-full grid grid-cols-subgrid p-2 md:col-span-9 md:p-4"
    >
      <app-input-icon-picker
        [options]="icons"
        optionLabel="name"
        [showFirst]="true"
        placeholder="Icon"
        class="col-span-12 w-full lg:col-span-5 lg:pe-4"
        formControlName="icon"
      />
    </div>

    <div class="order-3 col-span-12 flex w-full p-2 md:col-span-3 md:p-4">
      <label for="" class="pb-2 font-semibold">Food Name</label>
    </div>
    <div
      class="order-4 col-span-12 flex w-full justify-start p-2 md:col-span-9 md:p-4"
    >
      <input
        type="text"
        class="input-primary"
        placeholder="Red apple / Organic beans / Lactose-free milk"
      />
    </div>

    <div class="order-5 col-span-12 flex w-full p-2 md:col-span-3 md:p-4">
      <label for="" class="pb-2 font-semibold">Serving Size</label>
    </div>
    <div
      class="order-6 col-span-12 flex w-full justify-start p-2 md:col-span-9 md:p-4"
    >
      <input type="text" class="input-primary" placeholder="100g" />
    </div>

    <div class="order-7 col-span-12 flex w-full p-2 md:col-span-3 md:p-4">
      <label for="" class="pb-2 font-semibold">Protein</label>
    </div>
    <div
      class="order-8 col-span-12 flex w-full justify-start p-2 md:col-span-5 md:p-4"
    >
      <input type="text" class="input-primary" placeholder="0" />
    </div>

    <div
      class="order-13 col-span-12 flex w-full items-center justify-center p-2 md:order-9 md:col-span-4 md:row-span-3 md:p-4"
    >
      <div
        class="flex h-40 w-40 flex-col justify-center rounded-xl bg-green-100 p-2 dark:bg-green-300"
      >
        <span
          class="w-full text-center font-semibold text-blue-600 dark:text-blue-700"
          >Calculated
        </span>
        <span
          class="w-full text-center font-semibold text-blue-600 dark:text-blue-700"
          >Calories
        </span>
        <span
          class="w-full text-center font-semibold text-gray-400 dark:text-black"
          >0 kcal</span
        >
      </div>
    </div>

    <div
      class="order-9 col-span-12 flex w-full p-2 md:order-10 md:col-span-3 md:p-4"
    >
      <label for="" class="pb-2 font-semibold">Carbs</label>
    </div>
    <div
      class="order-10 col-span-12 flex w-full justify-start p-2 md:order-11 md:col-span-5 md:p-4"
    >
      <input type="text" class="input-primary" placeholder="0" />
    </div>

    <div
      class="order-11 col-span-12 flex w-full p-2 md:order-12 md:col-span-3 md:p-4"
    >
      <label for="" class="pb-2 font-semibold">Fats</label>
    </div>
    <div
      class="order-12 col-span-12 flex w-full p-2 md:order-13 md:col-span-5 md:p-4"
    >
      <input type="text" class="input-primary" placeholder="0" />
    </div>
    <div
      class="order-14 col-span-12 flex w-full flex-row justify-evenly gap-4 pt-4"
    >
      <button
        class="w-75 cursor-pointer rounded-xl bg-green-100 px-4 py-2 font-semibold text-green-500 hover:bg-green-200 dark:bg-green-200 dark:text-green-600 dark:hover:bg-green-300"
        type="button"
      >
        Cancel
      </button>
      <button
        class="w-75 cursor-pointer rounded-xl bg-green-500 px-4 py-2 font-semibold text-white hover:bg-green-600 dark:bg-green-600"
        type="submit"
      >
        Add Food
      </button>
    </div>
  </form>
</div>
