<div class="flex w-full flex-col items-center">
  <div class="w-full max-w-5xl">
    <h1 class="self-start text-xl font-bold text-black dark:text-white">
      User Profile
    </h1>
  </div>
  <form class="flex w-full max-w-5xl flex-col items-center">
    <div
      class="dark:bg-shark-500 mt-6 flex w-full max-w-4xl flex-col rounded-2xl border border-gray-300 bg-white"
    >
      <h2
        class="self-start p-4 text-lg font-semibold text-black dark:text-white"
      >
        Personal Data
      </h2>
      @for (field of personalInformation; track $index) {
        <app-information-card
          [title]="field.title"
          [message]="field.placeholder"
          [content]="field.content"
          [lastCard]="$last"
          [href]="field.href"
        />
        @if (!$last) {
          <hr class="border-gray-300" />
        }
      }
    </div>
    <div
      class="dark:bg-shark-500 mt-6 flex w-full max-w-4xl flex-col rounded-2xl border border-gray-300 bg-white"
    >
      <h2
        class="self-start p-4 text-lg font-semibold text-black dark:text-white"
      >
        Security
      </h2>
      @for (field of security; track $index) {
        <app-information-card
          [title]="field.title"
          [message]="field.placeholder"
          [content]="field.content"
          [lastCard]="$last"
          [href]="field.href"
        />
        @if (!$last) {
          <hr class="border-gray-300" />
        }
      }
    </div>
  </form>
</div>
