<div class="flex w-full flex-col items-center">
  <form
    class="flex w-full max-w-3xl flex-col gap-y-5 pt-4 lg:w-150"
    [formGroup]="passwordForm"
    (ngSubmit)="sendForm()"
  >
    <app-edit-field title="Password" routeBack="/profile"></app-edit-field>

    <label
      for="currentPassword"
      class="text-md flex h-fit items-center gap-2 font-bold text-black dark:text-white"
    >
      <i class="iconify text-2xl" data-icon="carbon:password"></i>
      Current Password
    </label>

    <app-input-password
      idLabel="currentPassword"
      formControlName="currentPassword"
      placeholder="Enter Your Current Password"
    />

    <label
      for="newPassword"
      class="text-md flex h-fit items-center gap-2 font-bold text-black dark:text-white"
    >
      <i class="iconify text-2xl" data-icon="formkit:password"></i>
      New Password
    </label>
    <app-input-password
      idLabel="newPassword"
      formControlName="newPassword"
      placeholder="Enter Your New Password"
    />

    <label
      for="confirmPassword"
      class="text-md flex h-fit items-center gap-2 font-bold text-black dark:text-white"
    >
      <i class="iconify text-2xl" data-icon="mdi:password-outline"></i>
      Confirm Your Password
    </label>
    <app-input-password
      idLabel="confirmPassword"
      formControlName="confirmPassword"
      placeholder="Confirm Your New Password"
    />

    <div class="flex flex-row gap-4 pt-4">
      <app-btn-cancel-back routeBack="/profile" class="w-full" />

      <button class="btn-primary w-full" type="submit">Save</button>
    </div>
  </form>
</div>
