<div class="flex w-full flex-col items-center">
  <form
    class="flex w-full max-w-3xl flex-col gap-y-5 pt-4 lg:w-150"
    [formGroup]="passwordForm"
    (ngSubmit)="sendForm()"
  >
    <app-edit-field title="Name" routeBack="/profile"></app-edit-field>

    <label
      class="text-md font-bold text-black dark:text-white"
      for="currentPassword"
    >
      Current Password
    </label>
    <app-password-input
      id="currentPassword"
      formControlName="currentPassword"
      placeholder="Enter Your Current Password"
    />

    <label
      class="text-md font-bold text-black dark:text-white"
      for="newPassword"
    >
      New Password
    </label>
    <app-password-input
      id="newPassword"
      formControlName="newPassword"
      placeholder="Enter Your New Password"
    />

    <label
      class="text-md font-bold text-black dark:text-white"
      for="confirmPassword"
    >
      Confirm Your Password
    </label>
    <app-password-input
      id="confirmPassword"
      formControlName="confirmPassword"
      placeholder="Confirm Your New Password"
    />

    <div class="flex flex-row gap-4 pt-4">
      <app-btn-cancel-back routeBack="/profile" class="w-full" />

      <button class="btn-primary w-full" type="submit">Save</button>
    </div>
  </form>
</div>
