<!-- Modal for open sidebar -->
@if (!isHidden() && isMobile) {
  <div
    class="fixed inset-0 z-30 bg-black opacity-50 transition-opacity"
    (click)="closeMenu()"
  ></div>
}

<div
  class="dark:bg-shark-500 fixed top-0 left-0 z-40 flex h-full flex-col bg-white font-sans text-gray-700 transition-all duration-300 md:translate-x-0 dark:text-stone-300"
  [ngClass]="!isHidden() ? 'w-64 translate-x-0' : 'w-18 -translate-x-full'"
>
  <div class="flex flex-row items-center justify-center gap-2 px-4 pt-7 pb-3">
    <div class="flex h-13 w-13 items-center justify-end">
      @if (getTheme() === "light") {
        <img src="logo.png" alt="Logo" class="h-full object-contain" />
      } @else {
        <img src="logo_dark.png" alt="Logo" class="h-full object-contain" />
      }
    </div>
    @if (!isHidden()) {
      <div class="flex flex-col items-start">
        <h1
          class="w-full text-center text-xl font-bold whitespace-nowrap text-[#002d3a] dark:text-stone-300"
        >
          MACRO
        </h1>
        <h2
          class="w-full text-center text-xs font-bold whitespace-nowrap text-[#002d3a] dark:text-stone-300"
        >
          TRACKER
        </h2>
      </div>
    }
  </div>
  <div class="flex-1 px-4 py-4">
    @for (section of sections; track section.title) {
      <div class="mb-5">
        <h2
          class="mb-3 px-2 text-[11px] font-semibold tracking-wider text-gray-500 uppercase dark:text-stone-400"
          [ngClass]="{ invisible: isHidden() }"
        >
          {{ section.title }}
        </h2>
        <ul class="space-y-1">
          @for (item of section.items; track item.subtitle) {
            <li class="">
              <a
                class="flex cursor-pointer items-center rounded px-2 py-2 text-sm font-medium hover:bg-green-100 dark:hover:bg-green-600 dark:hover:text-white"
                [ngClass]="{
                  'bg-green-50 text-green-700 dark:bg-green-600 dark:text-white':
                    currentPath == item.route,
                }"
                [routerLink]="item.route"
                (click)="closeMenu()"
              >
                <i class="iconify text-2xl" [attr.data-icon]="item.icon"></i>
                @if (!isHidden()) {
                  <span class="ml-2">{{ item.subtitle }}</span>
                }
                @if (currentPath == item.route && !isHidden()) {
                  <span
                    class="ml-auto h-6 w-1 rounded-full bg-green-600 dark:bg-green-300"
                  ></span>
                }
              </a>
            </li>
          }
        </ul>
      </div>
    }
  </div>
</div>
