<a
  class="group grid w-full cursor-pointer grid-cols-12 p-4 hover:bg-green-100 dark:hover:bg-green-600"
  [ngClass]="lastCard() ? 'rounded-b-2xl' : ''"
  [routerLink]="href()"
>
  <div class="col-span-10 grid grid-cols-subgrid">
    <span
      class="col-span-10 text-sm text-gray-800 sm:col-span-3 dark:text-stone-100 dark:group-hover:text-white"
      >{{ title() }}</span
    >
    @if (content() != "") {
      <span
        class="text-md col-span-10 sm:col-span-7 dark:group-hover:text-white"
        >{{ content() }}</span
      >
    } @else {
      <span
        class="text-md col-span-10 text-gray-700 sm:col-span-7 dark:text-stone-400 dark:group-hover:text-white"
        >{{ message() }}</span
      >
    }
  </div>
  <div class="col-span-2 flex justify-end">
    <i class="iconify text-xl" data-icon="mingcute:right-fill"></i>
  </div>
</a>
