<div class="relative">
  <button
    class="btn-icon"
    (click)="openMenu()"
  >
    <img
      src="https://materialm-angular-main.netlify.app/assets/images/profile/user-1.jpg"
      class="w-[2rem] rounded-full"
    />
  </button>
</div>
@if (isOpen) {
  <div class="fixed inset-0 z-40 bg-black opacity-10 transition-opacity"></div>
  <div
    class="dark:bg-shark-500 absolute right-5 -bottom-2 z-40 h-4 w-4 rotate-45 transform bg-white"
  ></div>
  <div
    #profileMenuContainer
    class="dark:bg-shark-500 absolute top-15 right-1 z-40 mx-auto max-w-80 min-w-80 rounded-lg bg-white p-3 shadow-lg sm:max-w-sm"
  >
    <div class="flex items-center px-4 py-2">
      <img
        src="https://materialm-angular-main.netlify.app/assets/images/profile/user-1.jpg"
        alt="User Image"
        class="mr-4 h-16 w-16 rounded-full"
      />
      <div>
        <div class="text-lg font-semibold dark:text-white">User name</div>
        <div class="text-sm text-gray-500 dark:text-stone-300">
          user-email&#64;email.com
        </div>
      </div>
    </div>
    @for (section of sections; track "s" + $index) {
      <div class="my-1 border-t border-gray-200 py-1 font-medium">
        @for (element of section; track "e" + $index) {
          <a
            class="flex w-full cursor-pointer items-center px-4 py-2 hover:bg-green-100 hover:text-green-700 dark:hover:bg-green-600 dark:hover:text-white"
            [routerLink]="element.route"
            (click)="closeMenu()"
          >
            {{ element.title }}
          </a>
        }
      </div>
    }
  </div>
}
