<div class="relative">
  <input
    [type]="revealed"
    class="input-primary"
    [placeholder]="placeholder()"
    [id]="id()"
    [name]="id()"
    [value]="value"
    (input)="onInputChange($event)"
    autocomplete="new-password"
  />
  @if (revealed == "password") {
    <button
      (click)="reveal()"
      type="button"
      class="absolute top-1 right-1 cursor-pointer rounded-full p-1 pe-2 text-gray-400 hover:text-green-500"
    >
      <i class="iconify text-2xl" data-icon="mdi:eye-outline"></i>
    </button>
  } @else {
    <button
      (click)="reveal()"
      type="button"
      class="absolute top-1 right-1 cursor-pointer rounded-full p-1 pe-2 text-gray-400 hover:text-green-500"
    >
      <i class="iconify text-2xl" data-icon="mdi:eye-off-outline"></i>
    </button>
  }
</div>
